<head>
    <meta charset="utf-8" />
    <title>The Ecommerce Platform</title>
    <meta
      content=" "
      property="og:description" />


    <meta content="summary" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />

    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</head>


<style>

.header_section {
  background-color: #1e025b;
  padding: 10px 0;
  
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #dbdada;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.services-banner{
  width: 100%;
  float: left;
  height: auto;
  background: linear-gradient(180deg, #a454fd, #2b05df);
  
}

.services-card{
  margin: 1.6666%;
  width: 30%;
  height: auto;
  float: left;
}
.services-card img{
  width: 100%;
  height: 250px;
}
.services-card .services-content{
  width: 100%;
  padding: 15px;
  float: left;
  height: auto;
}
.services-card .services-content a{
  color: black;
  transition: all 0.3s ease-in-out;
}
.services-card .services-content a:hover{
  color: #0000ff;
  transition: all 0.3s ease-in-out;
}

.services-card .services-content{
  width: 100%;
  padding: 15px;
  float: left;
  height: auto;
}
.services-card .services-content a{
  color: black;
  transition: all 0.3s ease-in-out;
}
.services-card .services-content a:hover{
  color: #0000ff;
  transition: all 0.3s ease-in-out;
}

.table-content-button{
  width: 100%;
  height: auto;
  background-color: #1e025b;
  border-radius: 50px;
  float: left;
  transition: all 0.3s ease-in-out;
}
.table-content-button:hover{

  background-color: #2b05df;
  transition: all 0.3s ease-in-out;

}


@media (max-width: 992px) {
.services-card{
    margin: 1.25%;
    width: 47.5%;
    height: auto;
    float: left;
    margin-top: 50px;
  }

}

@media (max-width: 768px) {

    .services-card{
    margin: 1.5%;
    width: 96%;
    height: auto;
    float: left;
  }

}




@media (min-width: 1200px) {
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }

}

</style>


<div class="header_section" >
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/logo.png" alt="">
          <span style="color: #dbdada;">
            The Ecommerce Platform
          </span>
        </a>
        </div> 
      </nav>
    </div>
</div>






<div class="services-banner">
    <h1 style="text-align: center; color: white; font-weight: bolder; font-size: 70px; margin-top: 100px; margin-bottom: 100px; font-size: 50px ">FIND THE PRODUCTS HERE</h1>
</div>

<div class="services-elements">
    <div class="services-card">
        <img src="/assets/images/coat-1.jpg">
        <div class="services-content">
            <h2>Winter Jacket</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    <div class="services-card">
        <img src="/assets/images/coat-2.jpg">
        <div class="services-content">
            <h2>Fur Coat</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    <div class="services-card">
        <img src="/assets/images/coat-3.jpg">
        <div class="services-content">
            <h2>Snow man Jacket</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    <div class="services-card">
        <img src="/assets/images/coat-4.jpg">
        <div class="services-content">
            <h2>Swagger Jacket</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    <div class="services-card">
        <img src="/assets/images/coat-5.jpg">
        <div class="services-content">
            <h2>Winter hoodie</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    <div class="services-card">
        <img src="/assets/images/coat-6.jpg">
        <div class="services-content">
            <h2>Long winter coat</h2>
            <p>Find our best winter clothes and jackets here, in a reasonable and negotiable price. Our firm produces the best quality on winter jackets with a diverse range of products</p>
        </div>
        <div class="table-content-button" ><h4 style="text-align: center; line-height: 60px;"><a href="/cart" style="color: white;">Add to Cart</a></h4></div>
    </div>
    
</div>